<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IPT 2015 - Trabalho Sistemas Web</title>
    <link href="/css/mystyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <form method="get" action="/">
                    <input type="submit" value="Retornar" />
                </form>
            </li>
        </ul>
    </div>
   

    <div class="main">
        <ul>
            <% for (s in shops) {%>
            <li>
                Data da compra: <%=shops[s].created_at%><br />
                Quantidade de produtos: <%=shops[s].numberofitems%> <br />
                Valor da compra: <%=shops[s].totalamount%> <br />
                Detalhes:

                <ul>
                    <% for (var c=0; c < shops[s].basket.length;c++) {%>
                    <li>
                        <% for (p in products) {%>
                        <%if (products[p]._id==shops[s].basket[c].product_id) {%>
                        <% if (products[p].picture !=undefined) { %>
                        <img class="product_image" src="<%= products[p].picture%>" />
                        <% } %>
                        <% break; %>
                        <% } %>
                        <% } %>
                        Quantidate: <%=shops[s].basket[c].quantity%>
                        Valor: <%=shops[s].basket[c].amount%>
                    </li>
                    <% } %>
                </ul>
            </li>
            <% } %>

        </ul>
    </div>


</body>
</html>